/* GENERAL */

body, html {
	font-size: 16px;
}

// Section One
.secone {
	max-width: 1000px;
	margin: 20px auto;
	color:#394EFF;
	.icon-folder {
		font-size: 10em;
	}
	hr {
		border-color: #394EFF;
		margin-top: 30px;
	}
	&Tittle {
		font-size: 2.12em;
	}
	&Text {
		font-size: 1.12em;
		display: flex;
		margin-top:-30px;
		p {
			width: 60%;
			&:nth-child(2) {
				margin-left: 40px;
			}
		}
	}
	&Fin {
		display: flex;
		margin-bottom: 60px;
		&text {
			margin-left: 100px;
			h3 {
				font-size:1.25em;
			}
			p {
				font-size: 1.06em;
			}
		}
	}
}


// Section Two
.sectwo {
	background-color:#394EFF;
	color:#FFFFFF;
	font-size:1.06em;
	&Wrapper {
		max-width: 1000px;
		margin: 0 auto;
		padding: 20px 0;
		&Text {
			display: flex;
			justify-content: space-between;
		}
		&Counter {
			display: flex;
			justify-content: space-around;
			border: 1px #FFFFFF solid;
			font-size: 8em;
			.number {
				padding: 20px 30px;
				&Border {
					border-left: 1px #FFFFFF solid;
					padding: 20px 30px;
				}
			}
		}
		&Center {
			text-align: center;
			padding-bottom: 25px;
		}
	}
}

// Section Three
.sectth {
	max-width:1245px;
	margin: 60px auto;
	display:flex;
	justify-content:space-between;
	color: #FFFFFF;
	&Image {
		width: 63%;
	}
	&Text {
		background-color:#FFA8CF;
		padding: 30px;
		h3 {
			font-weight: lighter;
		}
		h2 {
			font-size: 2.3em;
		}
		p {
			font-size: 1.06em;
			padding-bottom:30px;
		}
	}
	&Buttons .button {
		color: #FFFFFF;
		font-weight: bolder;
		background-color: #56E4D0;
		border-radius: 8px;
		border-bottom: 6px #45B6A6 solid;
		font-size: 1.2em;
		text-align: center;
		padding: 15px 60px;

	}
}

// Section Four
.secFo {
	background-color:#394EFF;
}

// Section Five
.secFiv {
	max-width:1245px;
	margin: 0 auto;
}

// Footer
.footer {
	background-color:#394EFF;
}